# systemd configuration for dbab.  -*- conf -*-

[Unit]
Description=Dnsmasq-Based Ad-Blocker
After=network.target
Documentation=man:dbab-svr(8)
Documentation=http://htmlpreview.github.io/?https://github.com/suntong001/dbab/blob/master/src/dbab.html

[Service]
ExecStart=/usr/sbin/dbab-svr
Type=simple

[Install]
WantedBy=multi-user.target
